html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgb(3, 46, 187);
    width: 100%;
    min-width: 75%;
    text-align: center;
    Padding: 25px 0px 40px 0px;
    
}   

form {
    width: 100%;
    max-width: 75%;
    Height: 300px;
    margin: auto;
    background-color: rgb(140, 144, 243, .2);
    border: 2px solid blue;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: blue;
    text-align: center;
    padding: 50px 0px 0px 0px;
}
#store {
    background-color: rgb(230, 236, 250);
    height: 30px;
    border: 2px solid blue;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
    
    
}

#product {
    background-color: rgb(230, 236, 250);
    border-color: blue; 
    height: 25px;
    border: 2px solid blue;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: blue;
}

#quantity {
    background-color: rgb(230, 236, 250);
    border-color: blue; 
    height: 25px;
    border: 2px solid blue;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: blue;
}

button {
    background-color: rgb(179, 196, 212);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: blue;
    width: 100%;
    max-width: 25%;   
    height: 50px;
    border-radius: 25px;
    margin-top: 100px;
    font-size: 30px;
    color:blue;
    
}